*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
display:flex;
background:#f3f5fb;
}

.sidebar{

width:260px;

height:100vh;

background:#081c36;

color:white;

position:fixed;

}

.logo{

padding:30px;

font-size:22px;

font-weight:bold;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:18px 30px;

cursor:pointer;

transition:.3s;

}

.sidebar li:hover{

background:#12345d;

}

.active{

background:#00b96b;

}

.main{

margin-left:260px;

padding:40px;

width:100%;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-top:40px;

}

.card{

padding:30px;

border-radius:18px;

color:white;

box-shadow:0 15px 30px rgba(0,0,0,.15);

}

.green{background:#16c784;}
.blue{background:#2979ff;}
.red{background:#ff4d4f;}
.orange{background:#ff9800;}

.chart{

margin-top:40px;

background:white;

padding:30px;

border-radius:20px;

}
